
<app-navbar></app-navbar>
<app-sidbar></app-sidbar>
<main class="p-0 sm:ml-64 mt-8">
  <div class="p-4 border-2 border-gray-200 dark:border-gray-700 rounded-lg bg-gray-800 text-white">

    <body class="bg-gray-800 p-8 min-h-screen">
      <div class="container mx-auto">
        <h2 class="text-2xl font-bold mb-6 text-white">Equipment List</h2>

        <!-- Add Button -->
        <div class="mb-4">
          <button (click)="addEquipment()"
            class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-white rounded-lg group bg-gradient-to-br from-blue-500 to-blue-700 group-hover:from-blue-500 group-hover:to-blue-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-200 dark:focus:ring-blue-800">
            <span
              class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-blue-700 dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
              Ajouter
            </span>
          </button>

        </div>

        <div class="overflow-x-auto shadow-md sm:rounded-lg">
          <table class="min-w-full bg-gray-900 text-white">
            <thead class="bg-gray-700">
              <tr>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-300 uppercase tracking-wider">
                  IdEquipement
                </th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-300 uppercase tracking-wider">
                  Name
                </th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-300 uppercase tracking-wider">
                  Description
                </th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-300 uppercase tracking-wider">
                  Image
                </th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-300 uppercase tracking-wider">
                  Status
                </th>
                <th class="relative px-6 py-3">
                  <span class="sr-only">Actions</span>
                </th>
              </tr>
            </thead>
            <tbody class="bg-gray-800 divide-y divide-gray-700">
              <tr *ngFor="let equipment of equipements">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-300">
                  {{ equipment.equipementId }}
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-300">
                  {{ equipment.name }}
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-400">
                  {{ equipment.description }}
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <img [src]="equipment.imgUrl" alt="{{ equipment.name }}" class="w-20 h-auto">
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <span [ngClass]="{
                  'px-2 inline-flex text-xs leading-5 font-semibold rounded-full': true,
                  'bg-green-100 text-green-800': equipment.statut === 'AVAILABLE',
                  'bg-yellow-100 text-yellow-800': equipment.statut === 'PENDING',
                  'bg-red-100 text-red-800': equipment.statut === 'UNAVAILABLE'
                }">
                    {{ equipment.statut }}
                  </span>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                  <button (click)="editEquipment(equipment.equipementId)"
                    class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-white rounded-lg group bg-gradient-to-br from-yellow-400 to-yellow-600 group-hover:from-yellow-400 group-hover:to-yellow-600 hover:text-white focus:ring-4 focus:outline-none focus:ring-yellow-200 dark:focus:ring-yellow-800">
                    <span
                      class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-yellow-500 dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                      Edit
                    </span>
                  </button>

                  <button (click)="deleteEquipment(equipment.equipementId)"
                    class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-white rounded-lg group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800">
                    <span
                      class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-red-600 dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                      Delete
                    </span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>



    </body>
  </div>
</main>